.container{
    margin: 8em;
    margin-top: 6em;
    justify-content: space-evenly;
}
.mohamed{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #3B78E5;
}
.socials{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #CA7F12;  
}
.line{
    height: 1px;
    width:120.42px;
    align-self: center;
}
.line2{
    height: 1px;
    width:165.42px;
    align-self: center;
}
.bring{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    color: #1F2937;
    width: 507.64px;
}
.blue{
    color: #3B78E5;
}
.sol{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    width: 652.84px;
    color: #6B7280;
}
.view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 10px;
    background: #3B78E5;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    width: 242.01px;
    height: 95.62px;
}
.view:hover{
    transform: scale(1.05);
}

.hero{
    width: 398px;
    height: 474px;
}
.eclipse{
    position: absolute;
    width: 743px;
    height: 731px;
    left: 1264px;
    top: -80px;
}
.logo{
    width: 42px;
    height: 42px;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.05);
}
@media (max-width:1700px) {
    .container{
        margin: 0em;
        margin-top: 6em;
    }
}
@media (max-width:1550px) {
    .container{
        margin: 0em;
        margin-top: 6em;
    }
}
@media (max-width:1530px) {
    .container{
        margin: 5em;
        margin-top: 6em;
    }
}
@media (max-width:1450px) {
    .container{
        margin: 3em;
        margin-top: 6em;
    }
}
@media (max-width:1300px) {
    .container{
        margin:3em;
        margin-top: 3em;
    }
    .line{
        width: 90px;
    }
    .mohamed{
        font-size: 16px;
    }
    .bring{
        font-size: 54px;
        width: 350px;
    }
    .sol{
        font-size: 20px;
        width: 500px;
    }
    .view{
        width: 190px;
        height: 70px;
    }
}
@media (max-width:1280px) {
    .container{
        margin:7em;
        margin-top: 2em;
        justify-content: space-between !important;
    }
    .hero{
        width: 318px;
        height: 379px;
    }
}
@media (max-width:1200px) {
    .container{
        margin:5em;
        margin-top: 2em;
        justify-content: space-around !important;
    }
}
@media (max-width:1150px) {
    .container{
        margin:3em;
        margin-top: 2em;
    }
}
@media (max-width:1100px) {
    .container{
        margin:2em;
        margin-top: 2em;
    }
}
@media (max-width:1030px) {
    .container{
        margin:1em;
        margin-top: 2em;
    }
}
@media (max-width:1025px) {
    .container{
        margin: 0;
        margin-top: 2em;
        flex-direction: column !important;
        align-items: center ;
        gap: 6em;
        align-self: center !important;
    }
    .bodyy{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}