@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: King;
    src: url(/fonts/Kind\ Regards.ttf);
}
body{
    height: 100vh;
    background-color: #e5e5e5;
    background-image: url(/eclipse.png);
    background-repeat: no-repeat;
    background-position: top right ;
    background-attachment: inherit;
    margin: 0;
    scroll-behavior:smooth;
}
::-webkit-scrollbar {
    display: none;
  }
@media (max-width:1550px) {
    body{
        background-size: 28% ;
        background-position: top right ;
    }
}
@media (max-width:1400px) {
    body{
            background-size: 29% ;
            background-position: top right ;
        }
}
@media (max-width:1000px) {
    body{
            background-size: 25% ;
        }
}
@media (max-width:850px) {
    body{
            background-size: 35%;
        }
    
}
@media (max-width:450px) {
    body{
        background-position: top right;
        background-size: 35%;
    }
    
}
